    <!-- Footer -->
    <footer>
      <div class="container">
        {% if page.permalink == "/" %}
        <a class="footer-title page-sroll" href="#page-top">
        {% else %}
        <a class="footer-title" href="/">
        {% endif %}
          <span class="light">IU</span> {{ site.title }}
        </a>
        <p>
        {% for social in site.social %}
          <a class="social-icons" href="{{ social.url }}">{{ social.title }}</a>
        {% endfor %}
        </p>
        <p class="copyright">Copyright &copy; {{ site.footer.copyright }} 20{{ site.time | date: '%y' }}</p>
      </div>
    </footer>
